<ion-view view-title="Timesheet">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-calendar"></button>
  </ion-nav-buttons>
  <ion-content>
    <section>
      <button class="button icon-left ion-chevron-left button-clear button-calm"></button>
      Wednesday <br>
      21 JAN
      <button class="button icon-left ion-chevron-right button-clear button-calm"></button>
    </section>
    <section>
      <p>Total: 8.25 hr</p>
    </section>
    <section>
      <ul class="list">
        <li class="item">
          3349 <br>
          STEP BAU Application Support - FY2015
        </li>
        <li class="item">
          3349 <br>
          STEP BAU Application Support - FY2015
        </li>
      </ul>
    </section>
    <section>
      <button class="button icon button-positive ion-plus-round"></button>
    </section>
  </ion-content>
</ion-view>
